.hero {
  background-color: var(--hero--backgraundcolor);

  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;


  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
   

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/loft1.webp);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/loft1.webp);
  }
}

@media (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/loft1.webp);
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/loft1.webp);
    }
  }
}

@media (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/loft1.webp);
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/loft1.webp);
    }
  }
}

.hero-title {
  color: var(--text--color--white);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  margin-bottom: 30px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 360px) {
    width: 360px;
  }
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}
