:root {
  --primary--text--color: rgba(117, 117, 117, 1);
  --text--color: #212121;
  --text--color--white: #ffffff;
  --accent--color: #f5c242;
  --main--backgraundcolor: #ffffff;
  --backgraundcolor: #f5f4fa;
  --hero--backgraundcolor: #2f303a;
  --botton--color--hover: #188ce8;
  --icon--color: #afb1b8;
  --time--animation: cubic-bezier(0.4, 0, 0.2, 1);
}
